Client/_build/*
my-first-snowpack
new-dir
Web2
Website
Client/_build - Kopie
Client/_build_default
WebGLTest
Client/Assets/Content/PolygonSciFiCity
Webapp/index copy.tsx
Client/Recordings
Client/Assets/MeshCombineStudio/TestScenes
node_modules
yarn.lock